<div class="footer-wrapper">
    <div class="social-links">
        <a href="/pages/siteplan.html">
            <img src="/images/svg/site-plan-logo.svg" alt="site plan logo" width="50" height="50">
        </a>
        <div class="footer-text">
            &copy;<span id="currentyear"></span> James Phillip K. De Guzman
            <p class="lastmodified">
                Last Modified: <span id="lastModified"></span>
            </p>
            <div class="local-storage-info">
                <p id="today"></p>
                <p id="search"></p>
            </div>
        </div>
        <a href="https://www.facebook.com/diet.deguzman" target="_blank">
            <img src="/images/svg/fb-logo.svg" alt="facebook logo" width="50" height="50">
        </a>
        <a href="https://www.linkedin.com/in/jamesphillipdeguzman/" target="_blank">
            <img src="/images/svg/linkedin-logo.svg" alt="LinkedIn logo" width="50" height="50">
        </a>
        <a href="https://www.youtube.com/@JamesPhillipDeGuzman" target="_blank">
            <img src="/images/svg/youtube-logo.svg" alt="YouTube logo" width="50" height="50">
        </a>
    </div>
</div>