<nav class="navigation">
    <div><a href="/index.html"><span class="highlight2">besys.tech</span></a></span></div>
    <a href="/index.html" id="logolink"><img id="logo" src="/images/besys-tech-logo3-nobg.webp" alt="company logo"
            width="100" height="100"></a>

    <ul class="nav-links">
        <li><a href="/index.html" id="home" class="active">Home</a></li>
        <li><a href="/pages/about.html" id="about">About</a></li>
        <li><a href="/pages/contact.html" id="contact">Contact</a></li>
        <li><a href="/pages/portfolios.html" id="portfolio">Portfolio</a></li>
        <li><a href="/pages/product.html" id="product">Review</a></li>
        <!-- <li><a href="#" id="login-link">Login</a></li> -->

    </ul>
    <button id="menu" aria-label="menu"></button>

</nav>