<nav class="navigation">
    <div><a href="/index.html"><span class="highlight2">besys.tech</span></a></div>
    <a href="/index.html" id="logolink"><img id="logo" src="/images/besystechlogo.png" alt="company logo" width="30"
            height="30"></a>

    <ul class="nav-links">
        <li><a href="/index.html" id="home">Home</a></li>
        <li><a href="/pages/about.html" id="about" class="active">About</a></li>
        <li><a href="/pages/contact.html" id="contact">Contact</a></li>
        <li><a href="/pages/portfolios.html" id="portfolio">Portfolio</a></li>
        <li><a href="/pages/product.html" id="product">Review</a></li>
        <li><a href="/pages/login.html" id="login-link">Login</a></li>

    </ul>
    <button id="menu" aria-label="menu"></button>
</nav>